In [1]:
import pandas as pd

In [7]:
data = {'Artist': ['BTS', 'Ariana Grande', 'Taylor Swift', 'Ed Sheeran', 'Justin Bieber', 'Lady Gaga', 'Bruno Mars'],
        'Genre': ['Pop&RnB', 'Jazz', 'Rock', 'Jazz', 'Pop', 'Pop', 'Rock'],
        'Listeners': [6000000, 1300000, 2700000, 5000000, 2000000, 3000000, 1100000]}

labels = ['BT', 'AG', 'TS', 'ED', 'JB', 'LG', 'BM']

In [8]:
df = pd.DataFrame(data, index=labels)
df

           Artist    Genre  Listeners
BT            BTS  Pop&RnB    6000000
AG  Ariana Grande     Jazz    1300000
TS   Taylor Swift     Rock    2700000
ED     Ed Sheeran     Jazz    5000000
JB  Justin Bieber      Pop    2000000
LG      Lady Gaga      Pop    3000000
BM     Bruno Mars     Rock    1100000

In [21]:
col = df['Listeners']
print(col)
row = df.iloc[0]
row

BT    6000000
AG    1300000
TS    2700000
ED    5000000
JB    2000000
LG    3000000
BM    1100000
Name: Listeners, dtype: int64

Artist           BTS
Genre        Pop&RnB
Listeners    6000000
Name: BT, dtype: object

In [28]:
pop_artists = df[df['Genre'] == 'Pop']
pop_artists

           Artist Genre  Listeners
JB  Justin Bieber   Pop    2000000
LG      Lady Gaga   Pop    3000000

In [36]:
#top_pop = (pop_artists.sort_values('Listeners', ascending=False)).head(1)
top_pop = df[((df['Genre']=="Pop")&(df['Listeners']>2000000))]
top_pop

       Artist Genre  Listeners
LG  Lady Gaga   Pop    3000000

In [37]:
grouped = df.groupby('Genre').sum()
grouped

         Listeners
Genre
Jazz       6300000
Pop        5000000
Pop&RnB    6000000
Rock       3800000